body{
    color: bisque;
}

h1{
    color: darkslategray;
    font:bold;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: cornflowerblue;
    
}